[submodule "dtrt-indent"]
	path = dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule "magit"]
	path = magit
	url = git://github.com/philjackson/magit.git
[submodule "browse-kill-ring"]
	path = browse-kill-ring
	url = git://github.com/emacsmirror/browse-kill-ring.git
[submodule "cedet"]
	path = cedet
	url = git://github.com/emacsmirror/cedet.git
