[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "vendor/dtrt-indent"]
	path = vendor/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/philjackson/magit.git
[submodule "vendor/cedet"]
	path = vendor/cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "vendor/color-theme-subdued"]
	path = vendor/color-theme-subdued
	url = git://github.com/emacsmirror/color-theme-subdued.git
[submodule "vendor/google-c-style"]
	path = vendor/google-c-style
	url = git://github.com/emacsmirror/google-c-style.git
[submodule "vendor/outlookedit"]
	path = vendor/outlookedit
	url = git://github.com/dholm/outlookedit.git
[submodule "vendor/lusty-emacs"]
	path = vendor/lusty-emacs
	url = git://github.com/sjbach/lusty-emacs.git
[submodule "vendor/xcscope"]
	path = vendor/xcscope
	url = git://github.com/dholm/xcscope.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "vendor/multi-term"]
	path = vendor/multi-term
	url = git://github.com/emacsmirror/multi-term.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/tabbar"]
	path = vendor/tabbar
	url = git://github.com/dholm/tabbar.git
