[submodule ".emacs.d/dtrt-indent"]
	path = .emacs.d/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule ".emacs.d/magit"]
	path = .emacs.d/magit
	url = http://github.com/philjackson/magit.git
[submodule ".emacs.d/mk-project"]
	path = .emacs.d/mk-project
	url = http://github.com/mattkeller/mk-project.git
[submodule ".emacs.d/browse-kill-ring"]
	path = .emacs.d/browse-kill-ring
	url = http://github.com/emacsmirror/browse-kill-ring.git
[submodule ".emacs.d/cedet"]
	path = .emacs.d/cedet
	url = git://github.com/emacsmirror/cedet.git
